.app-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100vh;
}

.__json-pretty__ {
    line-height:1.3;
    color:#748096;
    /* background:#f6f8fa; */
    overflow:auto;
    margin-bottom: 0px;
}

.__json-pretty__ 
.__json-key__ {
    color: #0550ae
}

.__json-pretty__ 
.__json-value__
{
    color: lightcoral
}

.__json-pretty__ 
.__json-string__ {
    color:#0a3069
}

.__json-pretty__
.__json-boolean__ {
    color:#448aa9
}

.__json-pretty-error__ {
    line-height:1.3;
    color:#748096;
    background:#1e1e1e;
    overflow:auto
}

.traceContainer {
  display: flex; 
  cursor: pointer;
}

.traceContainer:hover {
  background-color: lightgray;
}